.main-profile-window {
    width: 80%;
    margin: auto;
    background-color: var(--background-card-color);
    border-radius: 50px;
    padding: 2rem;
}

.profile-options-list {
    display: flex;
    border-bottom: 1px solid var(--main-bg-color);
    width: 80%;
    margin-left: 2rem;
    font-family: var(--p-font);
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.profile-options-item {
    cursor: pointer;
    margin-right: 2.5rem;
    opacity: .8;
}

.active {
    font-weight: 600;
    border-bottom: 3px solid var(--main-bg-color);
    padding-bottom: 1.5rem;
    opacity: 1;
}